/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://www.facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

/*=== MEDIA QUERY ===*/
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Montserrat:wght@400;700&family=Poppins:wght@300;400;600;700&display=swap");
html {
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-family: "Hind", serif;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  color: white;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 42px;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}

.navbar-toggle .icon-bar {
  background: #FF1694;
}

input[type=email], input[type=password], input[type=text], input[type=tel] {
  box-shadow: none;
  height: 45px;
  outline: none;
  font-size: 14px;
}
input[type=email]:focus, input[type=password]:focus, input[type=text]:focus, input[type=tel]:focus {
  box-shadow: none;
  border: 1px solid #FF1694;
}

.form-control {
  box-shadow: none;
  border-radius: 0;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #FF1694;
}

.py-7 {
  padding: 7rem 0px;
}

.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 500;
  padding: 1rem 2.5rem 0.8rem;
  text-transform: uppercase;
  border-radius: 0;
  transition: 0.3s;
}
.btn.btn-icon i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}
.btn:focus {
  outline: 0px;
  box-shadow: none;
}

.btn-main, .btn-small, .btn-transparent {
  background: #FF1694;
  color: white;
  transition: all 0.2s ease;
}
.btn-main:hover, .btn-small:hover, .btn-transparent:hover {
  background: #e2007a;
  color: white;
}

.btn-solid-border {
  border: 2px solid #FF1694;
  background: transparent;
  color: white;
}
.btn-solid-border:hover {
  border: 2px solid #FF1694;
  background: #FF1694;
}

.btn-transparent {
  background: transparent;
  padding: 0;
  color: #FF1694;
}
.btn-transparent:hover {
  background: transparent;
  color: #FF1694;
}

.btn-large {
  padding: 20px 45px;
}
.btn-large.btn-icon i {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.btn-small {
  padding: 13px 25px 10px;
  font-size: 12px;
}

.btn-round {
  border-radius: 4px;
}

.btn-round-full {
  border-radius: 50px;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.bg-gray {
  background: white;
}

.bg-primary {
  background: #FF1694;
}

.bg-primary-dark {
  background: #e2007a;
}

.bg-primary-darker {
  background: #af005f;
}

.bg-dark {
  background: white;
}

.bg-gradient {
  background-image: linear-gradient(145deg, rgba(19, 177, 205, 0.95) 0%, rgba(152, 119, 234, 0.95) 100%);
  background-repeat: repeat-x;
}

.section {
  padding: 100px 0;
}

.section-sm {
  padding: 70px 0;
}

.section-title {
  margin-bottom: 70px;
}
.section-title .title {
  font-size: 50px;
  line-height: 50px;
}
.section-title p {
  color: #666;
  font-family: "Poppins", sans-serif;
}

.subtitle {
  color: #FF1694;
  font-size: 14px;
  letter-spacing: 1px;
}

.overly, .hero-img, .cta, .slider, .page-title {
  position: relative;
}
.overly:before, .hero-img:before, .cta:before, .slider:before, .page-title:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: #000;
}

.overly-2, .latest-blog, .cta-block, .digital-marketings, .development, .itinfrastructure, .itsecuritysolotion, .typingtest, .elearning, .myachivement, .achivement, .bg-solution, .bg-counter {
  position: relative;
}
.overly-2:before, .latest-blog:before, .cta-block:before, .digital-marketings:before, .development:before, .itinfrastructure:before, .itsecuritysolotion:before, .typingtest:before, .elearning:before, .myachivement:before, .achivement:before, .bg-solution:before, .bg-counter:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.text-color {
  color: #FF1694;
}

.text-black {
  color: white;
}

.text-color2 {
  color: #FF1694;
}

.text-color2 {
  color: #b99769;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 2.25rem;
}

.text-lg {
  font-size: 3.75rem;
}

.no-spacing {
  letter-spacing: 0px;
}

/* Links */
a {
  color: white;
  text-decoration: none;
}

a:focus, a:hover {
  color: #FF1694;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.content-title {
  font-size: 40px;
  line-height: 50px;
}

.page-title {
  padding: 100px 0;
}
.page-title .block h1 {
  color: white;
}
.page-title .block p {
  color: white;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page-wrapper {
  padding: 70px 0;
}

/* Slider
================================================== */
/*-- Main slide --*/
.banner-carousel .banner-carousel-item {
  height: 900px;
  color: #fff;
  background-position: 50% 50%;
  background-size: cover;
}
@media (max-width: 992px) {
  .banner-carousel .banner-carousel-item {
    height: 550px;
  }
}
@media (max-width: 480px) {
  .banner-carousel .banner-carousel-item {
    height: 450px;
  }
}

.slider-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide-title-box {
  font-size: 16px;
  line-height: 39px;
  background: #FF1694;
  color: #fff;
  display: inline-block;
  padding: 0 15px;
  margin: 0 0 10px;
}

.slide-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 300;
  color: #fff;
  margin: 20px 0 10px;
}
@media (max-width: 992px) {
  .slide-title {
    font-size: 22px;
  }
}
@media (max-width: 480px) {
  .slide-title {
    font-size: 16px;
  }
}

.slide-sub-title {
  font-style: normal;
  font-size: 60px;
  line-height: 58px;
  margin: 20px 0;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -1px;
}
@media (max-width: 992px) {
  .slide-sub-title {
    font-size: 46px;
  }
}
@media (max-width: 480px) {
  .slide-sub-title {
    font-size: 30px;
    line-height: 30px;
  }
}

.slider-text {
  display: table;
  vertical-align: bottom;
  color: #fff;
  padding-left: 40%;
  width: 100%;
  padding-bottom: 0;
  padding-top: 20px;
}

.slider-text .slide-head {
  font-size: 36px;
  color: #0052a5;
  position: relative;
}

.slider-img {
  display: block;
  position: absolute;
  top: -80px;
  left: 20%;
  width: 314px;
  max-height: 100%;
}

.slider-img img {
  display: block;
  position: relative;
  max-height: 100%;
  width: auto;
}

.slider.btn {
  margin: 15px 5px 0;
  border: 2px solid transparent;
}
@media (max-width: 480px) {
  .slider.btn {
    font-size: 12px;
  }
}

.slider.border {
  background: none;
  border: 2px solid #FF1694 !important;
}

.slider.border:hover {
  background: #FF1694;
  border: 2px solid transparent;
}

/* Carousel control */
.banner-carousel .carousel-control {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  transform: translateY(-50%);
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  text-shadow: none;
  transition: all 0.25s ease;
  padding: 0;
  outline: 0;
  border: 0;
}
@media (max-width: 480px) {
  .banner-carousel .carousel-control {
    display: none !important;
  }
}

.banner-carousel .slick-dots {
  opacity: 0;
  filter: alpha(opacity=0);
  bottom: 60px;
}

.slick-dots li button::before {
  font-size: 12px;
}
.slick-dots li button:hover:before, .slick-dots .slick-dots li button:focus:before,
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #FF1694;
}

.slick-slide {
  outline: 0;
}

.banner-carousel:hover .carousel-control,
.banner-carousel:hover .carousel-control,
.banner-carousel:hover .slick-dots {
  opacity: 1;
  filter: alpha(opacity=100);
}

.banner-carousel .carousel-control.left {
  left: 20px;
}

.banner-carousel .carousel-control.right {
  right: 20px;
}

.banner-carousel .carousel-control i {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 58px;
  width: 60px;
  height: 60px;
  font-size: 22px;
  border-radius: 0;
  transition: all 500ms ease;
}

.banner-carousel .carousel-control i:hover {
  background: #FF1694;
  color: #fff;
}

/*-- Animation */
.banner-carousel [data-animation-in] {
  opacity: 0;
}

/* slick Box slider */
.box-slider-content {
  top: 50%;
  padding: 0;
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .box-slider-content {
    top: auto;
    transform: translateY(0);
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
  }
}

.box-slider-text {
  background: #111;
  background: rgba(0, 0, 0, 0.65);
  display: inline-block;
  padding: 20px 30px;
  max-width: 650px;
}

.box-slide-title {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  color: #fff;
}
@media (max-width: 768px) {
  .box-slide-title {
    font-size: 16px;
  }
}

.box-slide-sub-title {
  font-size: 36px;
  margin: 8px 0 10px;
  color: #fff;
}
@media (max-width: 768px) {
  .box-slide-sub-title {
    font-size: 26px;
  }
}

.box-slide-description {
  color: #fff;
}
@media (max-width: 768px) {
  .box-slide-description {
    font-size: 15px;
  }
}

.box-slider-text .btn {
  padding: 10px 20px;
}

.box-slide.owl-theme .owl-controls {
  margin: -20px;
}

/* Call to action
================================================== */
.call-to-action {
  background-color: #272d33;
  padding: 30px;
}

.call-to-action-title {
  color: #fff;
  margin: 0;
  padding: 25px 0;
  line-height: normal;
  font-size: 22px;
  text-transform: capitalize;
}

/* Action style box */
.call-to-action-box {
  margin-top: -50px;
}

.call-to-action-box .action-style-box {
  background: #FF1694;
  padding: 30px;
}

.action-title {
  color: #fff;
  margin: 0;
  line-height: 36px;
  font-size: 18px;
  text-transform: uppercase;
}

#wrapper-work {
  overflow: hidden;
  padding-top: 100px;
}
#wrapper-work ul li {
  width: 50%;
  float: left;
  position: relative;
}
#wrapper-work ul li img {
  width: 100%;
  height: 100%;
}
#wrapper-work ul li .items-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding-left: 44px;
  padding-top: 140px;
}
#wrapper-work ul li .items-text h2 {
  padding-bottom: 28px;
  padding-top: 75px;
  position: relative;
}
#wrapper-work ul li .items-text h2:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 3px;
  background: #fff;
}
#wrapper-work ul li .items-text p {
  padding-top: 30px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  padding-right: 80px;
}

/*--
	features-work Start 
--*/
#features-work {
  padding-top: 50px;
  padding-bottom: 75px;
}
#features-work .block ul li {
  width: 19%;
  text-align: center;
  display: inline-block;
  padding: 40px 0px;
}

#navbar {
  max-height: 13vh;
  background-color: transparent; /* Change the last value for transparency level */
  background-image: linear-gradient(147deg, rgba(0, 0, 0, 0.5) 0%, rgba(44, 62, 80, 0.5) 54%);
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.87);
  z-index: 130;
}
#navbar li {
  padding-left: 15px;
}
@media (max-width: 992px) {
  #navbar li {
    padding-left: 0;
  }
}
#navbar .logo-img {
  max-width: 60px; /* Adjust the max-width as needed */
  margin-right: 10px; /* Adjust the margin as needed */
  /* Add any additional styles here */
}
#navbar .nav-link {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
  transition: all 0.25s ease;
}
#navbar .nav-link:hover,
#navbar .nav-link:focus,
#navbar .active .nav-link {
  color: #FF1694;
}
#navbar .btn {
  padding: 0.7rem 1.5rem 0.5rem;
  color: white;
}
@media (max-width: 992px) {
  #navbar .btn {
    margin: 15px 0 10px;
  }
}

.bg-1 {
  background: url("../images/bg/home-2.png") no-repeat 50% 50%;
  background-size: cover;
}

.bg {
  background: url("../images/blog/5.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg2 {
  background: url("../images/blog/Cse-IT.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg3 {
  background: url("../images/blog/manpower.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg4 {
  background: url("../images/blog/7.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg5 {
  background: url("../images/blog/8.png") no-repeat 50% 50%;
  background-size: cover;
}

.bg7 {
  background: url("../images/blog/logistic.jpg") no-repeat 50% 50%;
  background-size: cover;
}

.bg-2 {
  background: url("../images/bg/computer-test.jpg");
  background-size: cover;
}

.slider {
  background: url("../images/bg/computer-test.jpg") no-repeat;
  background-size: cover;
  background-position: 10% 0%;
  padding: 200px 0;
  position: relative;
}
@media (max-width: 768px) {
  .slider {
    padding: 150px 0;
  }
}
.slider .block h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 600;
  color: white;
}
.slider .block p {
  margin-bottom: 30px;
  color: #b9b9b9;
  font-size: 18px;
  line-height: 27px;
  font-weight: 300;
}
.slider .block span {
  letter-spacing: 1px;
}

.intro-item i {
  font-size: 60px;
  line-height: 60px;
}

.color-one {
  color: #FF1694;
}

.color-two {
  color: #00d747;
}

.color-three {
  color: #9262ff;
}

.color-four {
  color: #088ed3;
}

.bg-about {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 55%;
  min-height: 650px;
  background: url("../images/bg/computer1.gif") no-repeat;
  border-radius: 10px;
  background-size: 90% 100%;
}

.bg-about2 {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 45%;
  min-height: 650px;
  background: url("../images/onlineexam1.png") no-repeat;
  border-radius: 10px;
  background-size: cover;
}

.about-content {
  padding: 20px 0px 0px 80px;
}
.about-content h4 {
  font-weight: 600;
}
.about-content h4:before {
  position: absolute;
  content: "\f576";
  font-family: "Font Awesome 5 Free";
  font-size: 30px;
  position: absolute;
  top: 8px;
  left: -65px;
  font-weight: 700;
}

.counter-item .counter-stat {
  font-size: 50px;
}
.counter-item p {
  margin-bottom: 0px;
}

.bg-counter {
  background: url("../images/bg/counter.jpg") no-repeat;
  background-size: cover;
}

.bg-solution {
  background: url("../images/bg/computer1.gif") no-repeat;
  background-size: 100% 100%;
}

.achivement {
  background: url("../images/bg/achivement.gif") no-repeat;
  background-size: 100% 100%;
}

.myachivement {
  background: url("../images/bg/counter.jpg") no-repeat;
  background-size: cover;
}

.elearning {
  background: url("../images/bg/exams.gif") no-repeat;
  background-size: cover;
}

.typingtest {
  background: url("../images/bg/typing.gif") no-repeat;
  background-size: 100% 100%;
}

.itsecuritysolotion {
  background: url("../images/bg/security.gif") no-repeat;
  background-size: 100% 100%;
}

.itinfrastructure {
  background: url("../images/bg/itinfra.gif") no-repeat;
  background-size: cover;
}

.development {
  background: url("../images/bg/development.gif") no-repeat;
  background-size: 100% 100%;
}

.digital-marketings {
  background: url("../images/bg/computer.gif") no-repeat;
  background-size: 100% 100%;
}

.team-img-hover .team-social li a.facebook {
  background: #6666cc;
}

.team-img-hover .team-social li a.twitter {
  background: #3399cc;
}

.team-img-hover .team-social li a.instagram {
  background: #cc66cc;
}

.team-img-hover .team-social li a.linkedin {
  background: #3399cc;
}

.team-img-hover {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

.team-img-hover li a {
  display: inline-block;
  color: white;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  border: 2px solid transparent;
  border-radius: 2px;
  text-align: center;
  transform: translateY(0);
  backface-visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.team-img-hover:hover li a:hover {
  transform: translateY(4px);
}

.team-item:hover .team-img-hover {
  opacity: 1;
  transform: scale(1);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.service-item {
  position: relative;
  padding-left: 80px;
}
.service-item i {
  position: absolute;
  left: 0px;
  top: 5px;
  font-size: 50px;
  opacity: 0.4;
}

.cta {
  background: url("../images/bg/home-3.jpg") fixed 50% 50%;
  background-size: cover;
  padding: 120px 0px;
}

.cta-block {
  background: url("../images/bg/home-3.jpg") no-repeat;
  background-size: cover;
}

.testimonial-item {
  padding: 50px 30px;
}
.testimonial-item i {
  font-size: 40px;
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 1;
}
.testimonial-item .testimonial-text {
  font-size: 20px;
  line-height: 38px;
  color: white;
  margin-bottom: 30px;
  font-style: italic;
}
.testimonial-item .testimonial-item-content {
  padding-left: 65px;
}

.slick-slide:focus, .slick-slide a {
  outline: none;
}

.hero-img {
  background: url("../images/bg/home-5.jpg");
  position: absolute;
  content: "";
  background-size: cover;
  width: 100%;
  height: 100%;
  top: 0px;
}

.h70 {
  height: 55%;
}

.lh-45 {
  line-height: 45px;
}

.pricing-header h1 {
  font-size: 70px;
  font-weight: 300;
}

.pricing .btn-solid-border {
  border-color: white;
}
.pricing .btn-solid-border:Hover {
  border-color: #FF1694;
}

.portflio-item .portfolio-item-content {
  position: absolute;
  content: "";
  right: 0px;
  bottom: 0px;
  opacity: 0;
  transition: all 0.35s ease;
}
.portflio-item:before {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.35s ease;
  overflow: hidden;
}
.portflio-item:hover:before {
  opacity: 1;
}
.portflio-item:hover .portfolio-item-content {
  opacity: 1;
  bottom: 20px;
  right: 30px;
}
.portflio-item .overlay-item {
  position: absolute;
  content: "";
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #FF1694;
  opacity: 0;
  transition: all 0.35s ease;
}
.portflio-item:hover .overlay-item {
  opacity: 1;
}

.contact-form-wrap .form-group {
  padding-bottom: 15px;
  margin: 0px;
}
.contact-form-wrap .form-group .form-control {
  background: white;
  height: 48px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}
.contact-form-wrap .form-group-2 {
  margin-bottom: 13px;
}
.contact-form-wrap .form-group-2 textarea {
  background: white;
  height: 135px;
  border: 1px solid #EEF2F6;
  box-shadow: none;
  width: 100%;
}

.address-block li {
  margin-bottom: 10px;
}
.address-block li i {
  font-size: 20px;
  width: 20px;
}

.social-icons li {
  margin: 0 6px;
}
.social-icons i {
  margin-right: 15px;
  font-size: 25px;
}

.google-map {
  position: relative;
}

.google-map #map {
  width: 100%;
  height: 450px;
}

/*=================================================================
  Latest Posts
==================================================================*/
.blog-item-content h3 {
  line-height: 36px;
}
.blog-item-content h3 a {
  transition: all 0.4s ease 0s;
}
.blog-item-content h3 a:hover {
  color: #FF1694 !important;
}

.lh-36 {
  line-height: 36px;
}

.tags a {
  background: #f5f8f9;
  display: inline-block;
  padding: 8px 23px;
  border-radius: 38px;
  margin-bottom: 10px;
  border: 1px solid #eee;
  font-size: 14px;
  text-transform: capitalize;
}

.pagination .nav-links a,
.pagination .nav-links span.current {
  font-size: 20px;
  font-weight: 500;
  color: #c9c9c9;
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.pagination .nav-links span.current,
.pagination .nav-links a.next,
.pagination .nav-links a.prev {
  color: white;
}

h3.quote {
  font-size: 24px;
  line-height: 40px;
  font-weight: normal;
  padding: 0px 25px 0px 85px;
  margin: 65px 0 65px 0 !important;
  position: relative;
}
@media (max-width: 768px) {
  h3.quote {
    padding: 0;
    padding-left: 20px;
  }
}

h3.quote::before {
  content: "";
  width: 55px;
  height: 2px;
  background: #FF1694;
  position: absolute;
  top: 25px;
  left: 0;
}
@media (max-width: 768px) {
  h3.quote::before {
    top: 5px;
    width: 2px;
    height: 35px;
  }
}

.nav-posts-title {
  line-height: 25px;
  font-size: 18px;
}

.latest-blog {
  position: relative;
  padding-bottom: 150px;
}

.mt-70 {
  margin-top: -70px;
}

.border-1 {
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.blog-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*=================================================================
  Single Blog Page
==================================================================*/
.post.post-single {
  border: none;
}
.post.post-single .post-thumb {
  margin-top: 30px;
}

.post-sub-heading {
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.post-social-share {
  margin-bottom: 50px;
}

.post-comments {
  margin: 30px 0;
}
.post-comments .media {
  margin-top: 20px;
}
.post-comments .media > .pull-left {
  padding-right: 20px;
}
.post-comments .comment-author {
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 500;
}
.post-comments .comment-author a {
  color: #FF1694;
  font-size: 14px;
  text-transform: uppercase;
}
.post-comments time {
  margin: 0 0 5px;
  display: inline-block;
  color: #808080;
  font-size: 12px;
}
.post-comments .comment-button {
  color: #FF1694;
  display: inline-block;
  margin-left: 5px;
  font-size: 12px;
}
.post-comments .comment-button i {
  margin-right: 5px;
  display: inline-block;
}
.post-comments .comment-button:hover {
  color: #FF1694;
}

.post-excerpt {
  margin-bottom: 60px;
}
.post-excerpt h3 a {
  color: #000;
}
.post-excerpt p {
  margin: 0 0 30px;
}
.post-excerpt blockquote.quote-post {
  margin: 20px 0;
}
.post-excerpt blockquote.quote-post p {
  line-height: 30px;
  font-size: 20px;
  color: #FF1694;
}

.single-blog {
  background-color: #fff;
  margin-bottom: 50px;
  padding: 20px;
}

.blog-subtitle {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.next-prev {
  border-bottom: 1px solid #dedede;
  border-top: 1px solid #dedede;
  margin: 20px 0;
  padding: 25px 0;
}
.next-prev a {
  color: #000;
}
.next-prev a:hover {
  color: #FF1694;
}
.next-prev .prev-post i {
  margin-right: 10px;
}
.next-prev .next-post i {
  margin-left: 10px;
}

.social-profile ul li {
  margin: 0 10px 0 0;
  display: inline-block;
}
.social-profile ul li a {
  color: #4e595f;
  display: block;
  font-size: 16px;
}
.social-profile ul li a i:hover {
  color: #FF1694;
}

.comments-section {
  margin-top: 35px;
}

.author-about {
  margin-top: 40px;
}

.post-author {
  margin-right: 20px;
}

.post-author > img {
  border: 1px solid #dedede;
  max-width: 120px;
  padding: 5px;
  width: 100%;
}

.comment-list ul {
  margin-top: 20px;
}
.comment-list ul li {
  margin-bottom: 20px;
}

.comment-wrap {
  border: 1px solid #dedede;
  border-radius: 1px;
  margin-left: 20px;
  padding: 10px;
  position: relative;
}
.comment-wrap .author-avatar {
  margin-right: 10px;
}
.comment-wrap .media .media-heading {
  font-size: 14px;
  margin-bottom: 8px;
}
.comment-wrap .media .media-heading a {
  color: #FF1694;
  font-size: 13px;
}
.comment-wrap .media .comment-meta {
  font-size: 12px;
  color: #888;
}
.comment-wrap .media p {
  margin-top: 15px;
}

.comment-reply-form {
  margin-top: 80px;
}
.comment-reply-form input, .comment-reply-form textarea {
  height: 35px;
  border-radius: 0;
  box-shadow: none;
}
.comment-reply-form input:focus, .comment-reply-form textarea:focus {
  box-shadow: none;
  border: 1px solid #FF1694;
}
.comment-reply-form textarea, .comment-reply-form .btn-main, .comment-reply-form .btn-transparent, .comment-reply-form .btn-small {
  height: auto;
}

.widget {
  margin-bottom: 30px;
  padding-bottom: 35px;
}
.widget .widget-title {
  margin-bottom: 15px;
  padding-bottom: 10px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-bottom: 1px solid white;
}
.widget.widget-latest-post .media .media-object {
  width: 100px;
  height: auto;
}
.widget.widget-latest-post .media .media-heading a {
  color: white;
  font-size: 16px;
}
.widget.widget-latest-post .media p {
  font-size: 12px;
  color: #808080;
}
.widget.widget-category ul li {
  margin-bottom: 10px;
}
.widget.widget-category ul li a {
  color: #837f7e;
  transition: all 0.3s ease;
}
.widget.widget-category ul li a:before {
  padding-right: 10px;
}
.widget.widget-category ul li a:hover {
  color: #FF1694;
  padding-left: 5px;
}
.widget.widget-tag ul li {
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 5px;
}
.widget.widget-tag ul li a {
  color: #837f7e;
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #dedede;
  border-radius: 30px;
  font-size: 14px;
  transition: all 0.3s ease;
}
.widget.widget-tag ul li a:hover {
  color: white;
  background: #FF1694;
  border: 1px solid #FF1694;
}

.footer {
  padding-bottom: 10px;
}
.footer .copyright a {
  font-weight: 600;
}

.lh-35 {
  line-height: 35px;
}

.logo {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}
.logo span {
  color: #FF1694;
}

.sub-form {
  position: relative;
}
.sub-form .form-control {
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: white;
}

.footer-btm {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.footer-socials li a {
  margin-left: 15px;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 999;
  height: 40px;
  width: 40px;
  background: #FF1694;
  border-radius: 50%;
  text-align: center;
  line-height: 43px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  display: none;
}
@media (max-width: 480px) {
  .scroll-to-top {
    bottom: 15px;
    right: 15px;
  }
}
.scroll-to-top:hover {
  background-color: #333;
}

/*=== MEDIA QUERY ===*/
@media (max-width: 992px) {
  .slider .block h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .bg-about {
    display: none;
  }
  section.about {
    border: 1px solid #dee2e6;
    border-left: 0;
    border-right: 0;
  }
  .footer-socials {
    margin-top: 20px;
  }
  .footer-socials li a {
    margin-left: 0px;
  }
}
@media (max-width: 768px) {
  .navbar-toggler {
    color: white;
  }
  .bg-about {
    display: none;
  }
  .slider .block h1 {
    font-size: 48px;
    line-height: 62px;
  }
  .blog-item-meta span {
    margin: 6px 0px;
  }
  .widget {
    margin-bottom: 30px;
    padding-bottom: 0px;
  }
}
@media (max-width: 480px) {
  .header-top .header-top-info a {
    margin-left: 10px;
    margin-right: 10px;
  }
  .navbar-toggler {
    color: white;
  }
  .slider .block h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .content-title {
    font-size: 28px;
    line-height: 46px;
  }
  .p-5 {
    padding: 2rem !important;
  }
  h2, .h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 36px;
  }
  .testimonial-item .testimonial-item-content {
    padding-left: 0px;
    padding-top: 30px;
  }
  .widget {
    margin-bottom: 30px;
    padding-bottom: 0px;
  }
}
@media (max-width: 400px) {
  .header-top .header-top-info a {
    display: block;
  }
  .navbar-toggler {
    color: white;
  }
  .content-title {
    font-size: 28px;
    line-height: 46px;
  }
  .bg-about {
    display: none;
  }
  .p-5 {
    padding: 2rem !important;
  }
  h2, .h2 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 36px;
  }
  .testimonial-item .testimonial-item-content {
    padding-left: 0px;
    padding-top: 30px;
  }
  .text-lg {
    font-size: 3rem;
  }
  .widget {
    margin-bottom: 30px;
    padding-bottom: 0px;
  }
}
/*# sourceMappingURL=style.css.map */
